In [14]:
import pandas as pd
import geopandas as gpd
from shapely import wkt
import folium

In [15]:
# un country list
un = pd.read_csv("data/CountriesUN_20241120.csv", names=["UN","FIPS"])

In [16]:
un

                              UN FIPS
0                    Afghanistan   AF
1                        Albania   AL
2                        Algeria   AG
3                        Andorra   AN
4                         Angola   AO
..                           ...  ...
190                        Yemen   YM
191                       Zambia   ZA
192                     Zimbabwe   ZI
193  The Holy See (Vatican City)   VT
194       The state of Palestine  NaN

[195 rows x 2 columns]

In [17]:
#full = pd.read_csv("processed/full_calculation_20241117.csv") #'EPSG:3857'  # Web Mercator projection
full = pd.read_csv("processed/full_calculation_20241127.csv") #'EPSG:3857'  # Web Mercator projection
full['geometry'] = full['geometry'].apply(wkt.loads)
full = gpd.GeoDataFrame(full, geometry='geometry', crs='EPSG:3857')

In [18]:
full

,FID,GMI_ADMIN,ADMIN_NAME,FIPS_CNTRY,CNTRY_NAME,STATUS,POP,POP_RANK,POP_CLASS,POP_SOURCE,...,ISO_CC__sea,SHAPE_Length__sea,SHAPE_Area__sea,distance_sea,POP_rank_updated,city_type,all_coast,all_inland,single_city_cntry,UN
0,1,BRA-MGR,Mato Grosso,BR,Brazil,Provincial capital,540814,3,"500,000 to 999,999",UN_Data_2010_2020,...,NaN,1.064543,0.007229,1420.018591,3,inland,0,0,0,1
1,2,BRA-DFD,Distrito Federal,BR,Brazil,National and provincial capital,2481272,2,"1,000,000 to 4,999,999",UN_Data_2010_2020,...,NaN,1.040116,0.007083,929.254581,2,inland,0,0,0,1
2,3,BRA-GOI,Goias,BR,Brazil,Provincial capital,1297154,2,"1,000,000 to 4,999,999",UN_Data_2010_2020,...,NaN,0.422189,0.004244,906.965140,2,inland,0,0,0,1
3,4,BRA-MGD,Mato Grosso do Sul,BR,Brazil,Provincial capital,776242,3,"500,000 to 999,999",UN_Data_2010_2020,...,NaN,1.064543,0.007229,883.599543,3,inland,0,0,0,1
4,5,PRY-AMM,Amambay,PA,Paraguay,Provincial capital,0,0,,,...,NaN,1.064543,0.007229,852.927751,5,inland,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2535,2536,NZL-WST,Westland,NZ,New Zealand,Provincial capital,0,0,,,...,NaN,1.058717,0.057883,2.525252,7,coast,0,0,0,1
2536,2537,NZL-CNT,Canterbury,NZ,New Zealand,Provincial capital,388500,4,"250,000 to 499,999",UN_Data_2010_2020,...,NaN,1.007334,0.041327,8.413012,4,coast,0,0,0,1
2537,2538,NZL-OTG,Otago,NZ,New Zealand,Provincial capital,130700,5,"100,000 to 249,999",UN_Data_2010_2020,...,NaN,0.097013,0.000236,3.592056,5,coast,0,0,0,1
2538,2539,NZL-STH,Southland,NZ,New Zealand,Provincial capital,0,0,,,...,NaN,1.497316,0.038836,3.846671,7,coast,0,0,0,1
2539,2540,,Nay Pyi Taw Union Territory,BM,Myanmar,National and provincial capital,642000,3,"500,000 to 999,999",UN_Data_2010_2020,...,NaN,1.864196,0.013685,251.059506,4,inland,0,0,0,1

In [19]:
full.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2540 entries, 0 to 2539
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FID                      2540 non-null   int64
 1   GMI_ADMIN                2540 non-null   object
 2   ADMIN_NAME               2540 non-null   object
 3   FIPS_CNTRY               2540 non-null   object
 4   CNTRY_NAME               2540 non-null   object
 5   STATUS                   2540 non-null   object
 6   POP                      2540 non-null   int64
 7   POP_RANK                 2540 non-null   int64
 8   POP_CLASS                2540 non-null   object
 9   POP_SOURCE               2540 non-null   object
 10  geometry                 2540 non-null   geometry
 11  CITY_NAME                2540 non-null   object
 12  POP_updated              2488 non-null   float64
 13  POP_updated_year         2489 non-null   float64
 14  capital                  2540 non-null   int64
 15  index__water             2540 non-null   int64
 16  Name1__waterbody         1120 non-null   object
 17  Name2__waterbody         364 non-null    object
 18  Name3__waterbody         53 non-null     object
 19  TYPE__waterbody          2540 non-null   object
 20  ISO_CC__waterbody        2005 non-null   object
 21  SHAPE_Length__waterbody  2540 non-null   float64
 22  SHAPE_Area__waterbody    2540 non-null   float64
 23  distance_water           2540 non-null   float64
 24  index__sea               2540 non-null   int64
 25  Name1__sea               2540 non-null   object
 26  Name2__sea               1597 non-null   object
 27  Name3__sea               477 non-null    object
 28  TYPE__sea                2540 non-null   object
 29  ISO_CC__sea              0 non-null      float64
 30  SHAPE_Length__sea        2540 non-null   float64
 31  SHAPE_Area__sea          2540 non-null   float64
 32  distance_sea             2540 non-null   float64
 33  POP_rank_updated         2540 non-null   int64
 34  city_type                2540 non-null   object
 35  all_coast                2540 non-null   int64
 36  all_inland               2540 non-null   int64
 37  single_city_cntry        2540 non-null   int64
 38  UN                       2540 non-null   int64
dtypes: float64(9), geometry(1), int64(11), object(18)
memory usage: 774.0+ KB

In [20]:
# Baerum in Norway 
#full[full['CITY_NAME'] == 'Baerum'].Name1__sea
full[full['CITY_NAME'] == 'Baerum'].distance_sea

945    63.643993
Name: distance_sea, dtype: float64

In [21]:
full[full['CITY_NAME'] == 'Maracaibo'].Name1__sea
full[full['CITY_NAME'] == 'Maracaibo'].distance_sea

458    38.201456
Name: distance_sea, dtype: float64

In [22]:
full[full['CITY_NAME'] == 'Gitega']

,FID,GMI_ADMIN,ADMIN_NAME,FIPS_CNTRY,CNTRY_NAME,STATUS,POP,POP_RANK,POP_CLASS,POP_SOURCE,...,ISO_CC__sea,SHAPE_Length__sea,SHAPE_Area__sea,distance_sea,POP_rank_updated,city_type,all_coast,all_inland,single_city_cntry,UN
2409,2410,BDI-GIT,Gitega,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.776467,0.035599,1025.625,7,inland,0,1,0,1

In [23]:
full[full['CITY_NAME'] == 'Bujumbura']

,FID,GMI_ADMIN,ADMIN_NAME,FIPS_CNTRY,CNTRY_NAME,STATUS,POP,POP_RANK,POP_CLASS,POP_SOURCE,...,ISO_CC__sea,SHAPE_Length__sea,SHAPE_Area__sea,distance_sea,POP_rank_updated,city_type,all_coast,all_inland,single_city_cntry,UN
2408,2409,BDI-BJM,Bujumbura,BY,Burundi,National and provincial capital,0,0,,,...,NaN,0.776467,0.035599,1089.477496,4,inland,0,1,0,1

In [24]:
full[full['FIPS_CNTRY'] == 'BY']

,FID,GMI_ADMIN,ADMIN_NAME,FIPS_CNTRY,CNTRY_NAME,STATUS,POP,POP_RANK,POP_CLASS,POP_SOURCE,...,ISO_CC__sea,SHAPE_Length__sea,SHAPE_Area__sea,distance_sea,POP_rank_updated,city_type,all_coast,all_inland,single_city_cntry,UN
2397,2398,BDI-CNK,Cankuzo,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.776467,0.035599,971.843885,7,inland,0,1,0,1
2398,2399,BDI-RTN,Rutana,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.807909,0.039434,1005.516825,7,inland,0,1,0,1
2399,2400,BDI-BUR,Bururi,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.807909,0.039434,1046.316194,7,inland,0,1,0,1
2400,2401,BDI-MKM,Makamba,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.807909,0.039434,1021.515143,7,inland,0,1,0,1
2402,2403,BDI-MYN,Muyinga,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.776467,0.035599,1003.047817,7,inland,0,1,0,1
2403,2404,BDI-KYN,Kayanza,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.776467,0.035599,1081.622651,7,inland,0,1,0,1
2404,2405,BDI-NGO,Ngozi,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.776467,0.035599,1053.849141,7,inland,0,1,0,1
2405,2406,BDI-BBN,Bubanza,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.776467,0.035599,1096.935341,7,inland,0,1,0,1
2406,2407,BDI-KRZ,Karuzi,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.776467,0.035599,1011.608133,7,inland,0,1,0,1
2407,2408,BDI-MRM,Muramvya,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.776467,0.035599,1065.221499,7,inland,0,1,0,1
2408,2409,BDI-BJM,Bujumbura,BY,Burundi,National and provincial capital,0,0,,,...,NaN,0.776467,0.035599,1089.477496,4,inland,0,1,0,1
2409,2410,BDI-GIT,Gitega,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.776467,0.035599,1025.625000,7,inland,0,1,0,1
2410,2411,BDI-RUY,Ruyigi,BY,Burundi,Provincial capital,0,0,,,...,NaN,0.776467,0.035599,990.863028,7,inland,0,1,0,1

In [25]:
# manual change the city_type after manual check (see meeting notes with Eva Nov 19, 2024)
full.loc[full['CITY_NAME'] == 'Porto Novo', 'city_type'] = 'coast'
full.loc[full['CITY_NAME'] == 'Scoresbyund', 'city_type'] = 'coast'
full.loc[full['CITY_NAME'] == 'Patras', 'city_type'] = 'coast'
full.loc[full['FID'] == 719, 'city_type'] = 'coast' # Tripoli: more than one Tripoli
full.loc[full['CITY_NAME'] == 'Bergen', 'city_type'] = 'coast'
full.loc[full['CITY_NAME'] == 'Riga', 'city_type'] = 'coast'
# manual change the city_type after manual check (see meeting notes with Eva Dec 3, 2024)
full.loc[full['CITY_NAME'] == 'Baerum', 'city_type'] = 'coast'
full.loc[full['CITY_NAME'] == 'Maracaibo', 'city_type'] = 'coast'
# manual change the city_type after manual check (see meeting notes with Meng Dec 4, 2024)
full.loc[full['CITY_NAME'] == 'Skien', 'city_type'] = 'coast'
full.loc[full['FID'] == 2004, 'city_type'] = 'coast' # Kristiansand
# manual change the capital of BY(Burundi) from Bujumbura to Gitega (2019 capital change)
full.loc[full['CITY_NAME'] == 'Gitega', 'capital'] = 1
full.loc[full['CITY_NAME'] == 'Bujumbura', 'capital'] = 0

In [26]:
# if city_type of all rows with the same  FIPS_CNTRY is "coast",  give "all_coast" value 1, otherwise 0
full['all_coast'] = full.groupby('FIPS_CNTRY')['city_type'].transform(
    lambda x: 1 if all(val == "coast" for val in x) else 0
)

In [27]:
# if city_type of all rows with the same  FIPS_CNTRY is "inland",  give "all_inland" value 1, otherwise 0
full['all_inland'] = full.groupby('FIPS_CNTRY')['city_type'].transform(
    lambda x: 1 if all(val == "inland" for val in x) else 0
)

In [28]:
full['single_city_cntry'] = full.groupby('FIPS_CNTRY')['FIPS_CNTRY'].transform(
    lambda x: 1 if len(x) == 1 else 0
)

In [29]:
full['UN'] = full['FIPS_CNTRY'].apply(lambda x: 1 if x in un['FIPS'].values else 0)

In [30]:
full

,FID,GMI_ADMIN,ADMIN_NAME,FIPS_CNTRY,CNTRY_NAME,STATUS,POP,POP_RANK,POP_CLASS,POP_SOURCE,...,ISO_CC__sea,SHAPE_Length__sea,SHAPE_Area__sea,distance_sea,POP_rank_updated,city_type,all_coast,all_inland,single_city_cntry,UN
0,1,BRA-MGR,Mato Grosso,BR,Brazil,Provincial capital,540814,3,"500,000 to 999,999",UN_Data_2010_2020,...,NaN,1.064543,0.007229,1420.018591,3,inland,0,0,0,1
1,2,BRA-DFD,Distrito Federal,BR,Brazil,National and provincial capital,2481272,2,"1,000,000 to 4,999,999",UN_Data_2010_2020,...,NaN,1.040116,0.007083,929.254581,2,inland,0,0,0,1
2,3,BRA-GOI,Goias,BR,Brazil,Provincial capital,1297154,2,"1,000,000 to 4,999,999",UN_Data_2010_2020,...,NaN,0.422189,0.004244,906.965140,2,inland,0,0,0,1
3,4,BRA-MGD,Mato Grosso do Sul,BR,Brazil,Provincial capital,776242,3,"500,000 to 999,999",UN_Data_2010_2020,...,NaN,1.064543,0.007229,883.599543,3,inland,0,0,0,1
4,5,PRY-AMM,Amambay,PA,Paraguay,Provincial capital,0,0,,,...,NaN,1.064543,0.007229,852.927751,5,inland,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2535,2536,NZL-WST,Westland,NZ,New Zealand,Provincial capital,0,0,,,...,NaN,1.058717,0.057883,2.525252,7,coast,0,0,0,1
2536,2537,NZL-CNT,Canterbury,NZ,New Zealand,Provincial capital,388500,4,"250,000 to 499,999",UN_Data_2010_2020,...,NaN,1.007334,0.041327,8.413012,4,coast,0,0,0,1
2537,2538,NZL-OTG,Otago,NZ,New Zealand,Provincial capital,130700,5,"100,000 to 249,999",UN_Data_2010_2020,...,NaN,0.097013,0.000236,3.592056,5,coast,0,0,0,1
2538,2539,NZL-STH,Southland,NZ,New Zealand,Provincial capital,0,0,,,...,NaN,1.497316,0.038836,3.846671,7,coast,0,0,0,1
2539,2540,,Nay Pyi Taw Union Territory,BM,Myanmar,National and provincial capital,642000,3,"500,000 to 999,999",UN_Data_2010_2020,...,NaN,1.864196,0.013685,251.059506,4,inland,0,0,0,1

In [31]:
len(full[full['UN'] == 1]['FIPS_CNTRY'].unique())

192

In [32]:
full[full['UN'] == 1]['FIPS_CNTRY'].unique()

array(['BR', 'PA', 'AR', 'PE', 'BL', 'WS', 'TN', 'CI', 'EC', 'CO', 'UY',
       'US', 'CA', 'MX', 'GT', 'CU', 'CS', 'PM', 'VE', 'NU', 'HO', 'ES',
       'BH', 'HA', 'DR', 'JM', 'BF', 'CD', 'NG', 'NI', 'CM', 'EK', 'GB',
       'CT', 'CF', 'CG', 'PL', 'TS', 'LY', 'IT', 'FR', 'MT', 'SM', 'BK',
       'AL', 'RB', 'MJ', 'MK', 'GR', 'TU', 'CY', 'EG', 'BU', 'RO', 'RS',
       'GG', 'SY', 'LE', 'UP', 'AM', 'IZ', 'SA', 'JO', 'IS', 'UG', 'OD',
       'SU', 'YM', 'ER', 'ET', 'DJ', 'SO', 'KE', 'NO', 'GM', 'DA', 'SZ',
       'LS', 'AU', 'SW', 'FI', 'EZ', 'HR', 'HU', 'SI', 'KZ', 'MG', 'IN',
       'PK', 'AF', 'KG', 'UZ', 'CH', 'TI', 'NP', 'BG', 'BT', 'CE', 'TH',
       'VM', 'LA', 'PS', 'RP', 'ID', 'JA', 'BM', 'MY', 'CB', 'SN', 'KN',
       'KS', 'BX', 'RM', 'FM', 'KR', 'AS', 'TT', 'PP', 'NZ', 'TD', 'GY',
       'NS', 'SC', 'AC', 'ST', 'DO', 'VC', 'BB', 'GJ', 'UK', 'IC', 'EI',
       'PO', 'SP', 'CV', 'MO', 'MR', 'AG', 'ML', 'PU', 'GV', 'SL', 'LI',
       'SG', 'GA', 'UV', 'IV', 'GH', 'TP', 'BN', 'TO', 'AN', 'MN', 'BE',
       'NL', 'LU', 'LO', 'BO', 'LH', 'MD', 'EN', 'LG', 'IR', 'KU', 'BA',
       'AE', 'QA', 'AJ', 'TX', 'MU', 'ZI', 'CN', 'MZ', 'AO', 'MA', 'WA',
       'BC', 'SF', 'ZA', 'TZ', 'BY', 'RW', 'MI', 'WZ', 'LT', 'SE', 'MP',
       'TV', 'BP', 'NH', 'FJ', 'NR'], dtype=object)

In [33]:
#full.to_csv("processed/full_calculation_20241120.csv", index=False)
#full.to_csv("processed/full_calculation_20241127.csv", index=False)
full.to_csv("processed/full_calculation_20241204.csv", index=False)

In [34]:
result_rows = []

for country_code, group in full.groupby('FIPS_CNTRY'):
    
    # Find the capital city in the group
    capital_cities = group[group['capital']==1]
    
    if capital_cities.empty:
        continue  # No capital city in this country

    capital_city = capital_cities.iloc[0]

    capital_type = capital_city['city_type']

    # Determine the type of city to find
    if capital_type == 'inland':
    # Need to find a coast city
        candidate_cities = group[group['city_type'] != 'inland']
    else: # sea
    # Need to find a inland city
        candidate_cities = group[group['city_type'] == 'inland']
       
    # Exclude the capital city from candidate cities
    candidate_cities = candidate_cities[candidate_cities['CITY_NAME'] != capital_city['CITY_NAME']]

    if candidate_cities.empty:
        # No suitable second city, just keep the capital city
        result_rows.append(capital_city)
    else:
        # Find the city with the closest population to the capital
        candidate_cities = candidate_cities.copy()
        candidate_cities['pop_diff'] = (candidate_cities['POP_updated'] - capital_city['POP_updated']).abs()

        # Get the city with the smallest population difference
        second_city = candidate_cities.loc[candidate_cities['pop_diff'].idxmin()]

        # Append both capital city and second city
        result_rows.extend([capital_city, second_city])

# Create the result dataframe
result = gpd.GeoDataFrame(result_rows, crs="EPSG:3857")

In [ ]:
result.info()

In [35]:
# first_batch = two cities selected in each country
result['first_batch'] = result.groupby('FIPS_CNTRY')['FIPS_CNTRY'].transform('count').apply(lambda x: 1 if x > 1 else 0)

In [36]:
result

,FID,GMI_ADMIN,ADMIN_NAME,FIPS_CNTRY,CNTRY_NAME,STATUS,POP,POP_RANK,POP_CLASS,POP_SOURCE,...,SHAPE_Area__sea,distance_sea,POP_rank_updated,city_type,all_coast,all_inland,single_city_cntry,UN,pop_diff,first_batch
295,296,ABW,Aruba,AA,Aruba,National and provincial capital,28295,7,"Less than 50,000",UN_Data_2010_2020,...,0.053652,1.449000,6,coast,1,0,1,0,NaN,0
1555,1556,ATG,Antigua & Barbuda,AC,Antigua & Barbuda,National capital,0,0,,,...,0.045993,0.684450,5,coast,1,0,1,1,NaN,0
2256,2257,ARE-AZA,Abu Zaby,AE,United Arab Emirates,National and provincial capital,1539000,2,"1,000,000 to 4,999,999",UN_Habitat_2020,...,0.047519,2.347458,2,coast,1,0,0,1,NaN,0
1071,1072,AFG-KAB,Kabol,AF,Afghanistan,National and provincial capital,4136000,2,"1,000,000 to 4,999,999",UN_Habitat_2020,...,0.009304,1192.107975,2,inland,0,1,0,1,NaN,0
1909,1910,DZA-ALG,Alger,AG,Algeria,National and provincial capital,3608000,2,"1,000,000 to 4,999,999",UN_Habitat_2020,...,0.047538,1.553963,2,coast,0,0,0,1,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2457,2458,SWZ-HHH,Hhohho,WZ,Eswatini,National capital,0,0,,,...,0.010466,157.163254,6,inland,0,1,0,1,NaN,0
864,865,YEM-SAN,San'a',YM,Yemen,National and provincial capital,3820000,2,"1,000,000 to 4,999,999",UN_Habitat_2020,...,0.069197,149.616375,2,inland,0,0,0,1,NaN,1
2213,2214,YEM-ADN,Aden,YM,Yemen,Other,1247000,2,"1,000,000 to 4,999,999",UN_Habitat_2020,...,0.058359,0.129441,3,coast,0,0,0,1,1118593.0,1
2381,2382,ZMB-LUS,Lusaka,ZA,Zambia,National and provincial capital,1747152,2,"1,000,000 to 4,999,999",UN_Data_2010_2020,...,0.008197,897.500478,2,inland,0,1,0,1,NaN,0
2311,2312,ZWE-MEA,Mashonaland East,ZI,Zimbabwe,National and provincial capital,1485231,2,"1,000,000 to 4,999,999",UN_Data_2010_2020,...,0.008197,479.399833,2,inland,0,1,0,1,NaN,0

In [37]:
result_s = result[["FID","CITY_NAME","CNTRY_NAME","FIPS_CNTRY","geometry","POP_updated","POP_rank_updated","capital","distance_sea","city_type","pop_diff","all_coast","all_inland","single_city_cntry","first_batch","UN"]]

In [38]:
result_s[result_s.first_batch==1]

,FID,CITY_NAME,CNTRY_NAME,FIPS_CNTRY,geometry,POP_updated,POP_rank_updated,capital,distance_sea,city_type,pop_diff,all_coast,all_inland,single_city_cntry,first_batch,UN
1909,1910,Algiers,Algeria,AG,POINT (339524.597 4408944.066),2364230.0,2,1,1.553963,coast,NaN,0,0,0,1,1
1926,1927,Batna,Algeria,AG,POINT (687064.156 4239835.492),1119791.0,2,0,171.612108,inland,1244439.0,0,0,0,1,1
630,631,Tirana,Albania,AL,POINT (2207688.627 5061435.007),418495.0,4,1,36.166383,inland,NaN,0,0,0,1,1
604,605,Durres,Albania,AL,POINT (2165609.868 5060694.538),113249.0,5,0,1.825464,coast,305246.0,0,0,0,1,1
2352,2353,Luanda,Angola,AO,POINT (1473313.952 -984837.475),6759313.0,1,1,0.295061,coast,NaN,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,1277,Da Nang,Vietnam,VM,POINT (12046438.850 1810745.912),988561.0,3,0,2.890387,coast,2616803.0,0,0,0,1,1
2332,2333,Windhoek,Namibia,WA,POINT (1901002.536 -2578894.465),486186.0,4,1,283.592946,inland,NaN,0,0,0,1,1
2328,2329,Swakopmund,Namibia,WA,POINT (1617249.385 -2592641.405),75921.0,6,0,0.576777,coast,410265.0,0,0,0,1,1
864,865,Sanaa,Yemen,YM,POINT (4921379.394 1730890.680),1707531.0,2,1,149.616375,inland,NaN,0,0,0,1,1
2213,2214,Aden,Yemen,YM,POINT (5013996.773 1433039.158),588938.0,3,0,0.129441,coast,1118593.0,0,0,0,1,1

In [39]:
# remove cities that are not in the UN list
result_s=result_s[result_s.UN==1]

In [40]:
result_s

,FID,CITY_NAME,CNTRY_NAME,FIPS_CNTRY,geometry,POP_updated,POP_rank_updated,capital,distance_sea,city_type,pop_diff,all_coast,all_inland,single_city_cntry,first_batch,UN
1555,1556,Saint John's,Antigua & Barbuda,AC,POINT (-6884239.604 1935354.669),185565.0,5,1,0.684450,coast,NaN,1,0,1,0,1
2256,2257,Abu Dhabi,United Arab Emirates,AE,POINT (6052551.857 2811519.478),1202756.0,2,1,2.347458,coast,NaN,1,0,0,0,1
1071,1072,Kabul,Afghanistan,AF,POINT (7696268.728 4100315.268),4434600.0,2,1,1192.107975,inland,NaN,0,1,0,0,1
1909,1910,Algiers,Algeria,AG,POINT (339524.597 4408944.066),2364230.0,2,1,1.553963,coast,NaN,0,0,0,1,1
1926,1927,Batna,Algeria,AG,POINT (687064.156 4239835.492),1119791.0,2,0,171.612108,inland,1244439.0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2457,2458,Mbabane,Eswatini,WZ,POINT (3472199.670 -3036704.874),60691.0,6,1,157.163254,inland,NaN,0,1,0,0,1
864,865,Sanaa,Yemen,YM,POINT (4921379.394 1730890.680),1707531.0,2,1,149.616375,inland,NaN,0,0,0,1,1
2213,2214,Aden,Yemen,YM,POINT (5013996.773 1433039.158),588938.0,3,0,0.129441,coast,1118593.0,0,0,0,1,1
2381,2382,Lusaka,Zambia,ZA,POINT (3135870.089 -1738805.993),2212301.0,2,1,897.500478,inland,NaN,0,1,0,0,1
2311,2312,Harare,Zimbabwe,ZI,POINT (3453130.982 -2017659.785),1491754.0,2,1,479.399833,inland,NaN,0,1,0,0,1

In [42]:
#result.to_csv("processed/selected_cities_20241127.csv", index=False)
result.to_csv("processed/selected_cities_20241204.csv", index=False)

In [41]:
#result_s.to_csv("processed/selected_cities_s_20241127.csv", index=False)
result_s.to_csv("processed/selected_cities_s_20241204.csv", index=False)

In [33]:
full[full.FID==946].Name1__sea

945    Skagerrak
Name: Name1__sea, dtype: object